@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

///// custom variables /////

$red: #f00000;
$purple: #fd1bff;
$blue: #3ccdec;
$green: #2fff00;
$yellow: #E4FF00; //#e8ff29;	//(232,255,41)

$primary: $blue;
$info: $yellow;
$success: $green;
$warning: $purple;
$danger: $red;

$family-sans-serif: "Open Sans", sans-serif;
$family-primary: $family-sans-serif;

@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../node_modules/bulma/bulma.sass";

///// custom classes /////

#root, #rulesText {
  animation: fadeIn 1s ease-in forwards;
}

.modal-background, .modal-content {
  animation: fadeIn 600ms ease-in forwards;
}

.fullScreen {
  min-height: 100vh;
}

.iconButton:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);  
}

.is-primary, .is-success, .is-danger, .is-info {
  transition: background-color  500ms ease-in-out;
}

.is-info > p, .tag .is-info {
  color: #000;
}

a:hover, .button:hover {
  transition: background-color 200ms ease-in-out;
}

.flicker {
  animation: fadeIn 1s infinite alternate;
}

.tag {
  min-width: 40px;
}

#rulesText {
  height: 150px;
}

.visible {
  display: block;
  position: relative;
  animation: fadeIn 1s;
}

.hidden {
  display: none;
  animation: fadeOut 1s;
}

.slideLeft {
  animation: slideFromLeft 1s;
}

.slideRight {
  animation: slideFromRight 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slideFromLeft {
  0% { transform: translate(-110%, 0); }
  100% { transform: translate(0, 0); }
}

@keyframes slideFromRight {
  0% { transform: translate(110%, 0); }
  100% { transform: translate(0, 0); }
}